services:
  web:
    image: ghcr.io/michelroegl-brunner/wechselplan-app:latest
    ports:
      - "3000:3000"
    environment:
      
      LDAP_URL: ldap://10.10.10.1
      LDAP_BASE_DN: "OU=HTL-BRAUNAU,DC=ad,DC=htl-braunau,DC=at"
      LDAP_USERNAME: wechselplan@ad.htl-braunau.at
      LDAP_PASSWORD: Braunau#5280
      LDAP_STUDENTS_OU: "OU=SCHUELER,OU=BENUTZER,OU=HTL-BRAUNAU,DC=ad,DC=htl-braunau,DC=at"
      LDAP_TEACHERS_OU: "OU=LEHRER,OU=BENUTZER,OU=HTL-BRAUNAU,DC=ad,DC=htl-braunau,DC=at"
      LDAP_STUDENT_GROUPS: "Schueler"
      LDAP_TEACHER_GROUPS: "Lehrer"
      NEXTAUTH_URL: "http://wp.htl-braunau.at"
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      DEBUG: "ldapjs:*"  # Enable LDAP debugging
      NODE_ENV: "development"  # Enable more verbose logging
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: