name: CI/CD

on:
  push:
    branches: ["prod"]

  pull_request:
    branches: ["prod"]
    types: [opened, synchronize, reopened, edited]

  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: pages-${{ github.ref }}
  cancel-in-progress: false

jobs:
  test:
    runs-on: self-hosted
    env:
      DATABASE_URL: "file:./db.sqlite"
      NODE_ENV: "test"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      #- name: Setup Node
      #  uses: actions/setup-node@v4
      #  with:
      #    node-version: "20"
      #    cache: npm
      #    cache-dependency-path: package-lock.json

      #- name: Install dependencies
      #  run: npm ci --prefer-offline --legacy-peer-deps

      #- name: Run tests
      #  run: npm run test

      #- name: Run build
      #  run: npm run build


  build-docker-image:
    runs-on: self-hosted
    needs: test

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/michelroegl-brunner/wechselplan-app:latest
          no-cache: true

      - name: Prune Buildx Cache
        if: always()
        run: docker buildx prune -af